.projects { 
    min-height: 100%;
    position: relative;
    padding: 100px 0px;
}


.projects h1 {
    color: white;
    text-align: center;
}

.projects-list {
    justify-content: center;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
}

.project {
    background-image: url("/images/projects/007.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    min-width: 300px;
    max-width: 500px;
}
/* 
@media only screen and (min-width: 1000px) {
    .projects-list:hover {
        transform: translate3d(-32.5px, 0, 0);
        transition: 0.4s;
    }
    
    .projects-list:hover .project {
        opacity: 0.3;
    }
    
    
    .projects-list:hover .project:hover {
        opacity: 1;
        transform: translate3d(32.5px, 0, 0) scale(1.1,1.1);
        transition: all 0.3s ease-in-out;
    }
    
    .project:hover ~ .project {
        -webkit-transform: translate3d(65px, 0, 0);
                transform: translate3d(65px, 0, 0);
      }
} */
.projects-list:hover .project:hover {
    opacity: 1;
    transform: scale(1.1,1.1);
    transition: all 0.3s ease-in-out;
    z-index: 5;
}


.projects-list:hover .project:not(:hover) {
    opacity: 0.3;
}

.project-text {
    z-index: 2;
    position: absolute;
    min-height: 300px;
    left: 0;
    right: 0;
    color: white;
    /* border-bottom: 5px solid #4aabfa; */
    top: 85%;
    transition: all 0.3s ease-in-out;
    font-family: 'Raleway', sans-serif;
}

.project-text p{
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 14px;
}

.project-text h2 {
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
    border-bottom: 1px solid #4aabfa;
}

.project-text:after {
    content: "";
    background-color: black;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.9;
}

.project:hover .project-text {
    transition: all 0.3s ease-in-out;
    top: 0;
    padding: 0px 20px;
}


.project-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-buttons button {
    background-color: #4aabfa;
    border: 0px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.5s;
}

.project-buttons button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.project-buttons button:first-child {
    border-right: 1px solid black;
}

.project-tools span {
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 12px;
    transform: scale(1.5,1.5);
    cursor: pointer;
    border: 2px solid #4aabfa;
}
