.welcome {
    color: #f3f3f3;
    background-color: #0b1722;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 100%;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: relative;
}

@keyframes color {
    0% {
      background-color: #0b1722;
    }
    50% {
        background-color: #17191b;
    }
    100% {
      background-color: #0b1722;
    }
}

.welcome img {
    height: 125px;
}

.welcome .text {    
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 40%;
    margin: auto;
}

.welcome h1 {
    letter-spacing: 2px;
    margin: 0px;
    font-weight: normal;
    font-size: 4em;
}

.welcome h2 {
    margin: 0px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.4em;;
}

.welcome h1 span {
    color: #4aabfa;
    font-weight: bold;
}

.welcome .fa-arrow {
    color: #4aabfa;
    margin-top: 20px;
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.5s color;
}

.welcome .fa-arrow:hover {
    color: white;
    transition: 0.5s color;
}

.welcome .social {
    margin: 20px 0px;
}

.welcome .social button {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: #17191b;
    background-color: #4aabfa;
    border: 0px;
    font-size: 1.5em;
    padding: 10px 40px;
    transition: 0.5s background-color;
}


.welcome .social button:hover {
    background-color: white;
    transition: 0.5s background-color;
}

.welcome .social button:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #17191b;
}

.welcome .social button:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #17191b;
}