.welcome {
    display: none;
    color: #f3f3f3;
    width: 100%;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

  @-webkit-keyframes animatebottom {
    from { bottom:-150px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-50px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  @keyframes animateTopImg {
      from{ top:-50px; opacity: 0 }
      to{top: 0; opacity: 1}
  }

  @-webkit-keyframes animateTopImg {
    from{ top:-50px; opacity: 0 }
    to{top: 0; opacity: 1}
}

#selfpic {
    display: none;
    background: url("/images/self.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
    height: 170px;
    width: 250px;
    margin: 0 auto;
    -webkit-animation-name: animateTopImg;
    -webkit-animation-duration: 1s;
    animation-name: animateTopImg;
    animation-duration: 1s
}

#selfpic:hover {
    background: url("/images/self2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
}

.welcome .text {    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 50%;
    margin: auto;
    text-transform: lowercase;
}

.welcome h1 {
    letter-spacing: 2px;
    margin: 0px;
    font-weight: normal;
    font-size: 4em;
}

.welcome h2 {
    margin: 0px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.4em;;
}

.welcome h1 span {
    color: #4aabfa;
    font-weight: bold;
}

.welcome .fa-arrow {
    color: #4aabfa;
    margin-top: 20px;
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.5s;
}

.welcome .fa-arrow:hover {
    color: white;
    transition: 0.5s;
    transform: translateY(3px);
}

.welcome .social {
    margin: 20px 0px;
}

.welcome .social button {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: #17191b;
    background-color: #4aabfa;
    border: 0px;
    font-size: 1.5em;
    padding: 10px 40px;
    transition: 0.5s;
}


.welcome .social button:hover {
    background-color: white;
    transition: 0.5s;
    transform: translateY(1px);
}

.welcome .social button:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #17191b;
}

.welcome .social button:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #17191b;
}

@media only screen and (max-width: 780px) {
    .welcome .social button{
        border-radius: 0px !important;
        width: 100%;
        border: 0px !important;
        border-top: 1px solid #17191b !important;
    }
    .welcome .social button:hover {
        transition: 1s;
        transform: translateY(0px);
    }
    .welcome .text {
        height: 85%;
    }
    .welcome .text h1 {
        font-size: 3em;
    }
}